.screen1{
    width:100%;
    height:100%;
    margin:auto;

    &__centrebox{
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-chocolate-light;
        width: 60%;
        text-align:center;
        margin:auto;
        border-radius: 1rem;
        border: 2px $color-grey-1 outset;
        backdrop-filter:blur(8px);
        @include shadow-box;

        @include respond(tab){
            width:90%;
        }
        @include respond(phone){
            width:95%;
        }
        
        &:hover{
            @include shadow-box-scaleup;
            transform: translateY(-50%);
        }

        &__table{
            margin: 1rem auto;
            text-align: center;
        }
    }

    &__imgtheme{
        padding:1%;
        &__text{
            margin:1rem;
        }
        &__img{
            width:20%;
            margin-bottom:1rem;
            background-size: cover;
            float:left;
            transition: all 0.2s;
            &--1{
                position:absolute;
                left:90%;
            }
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

.celRetro{
    clear:both;
}
