$color-blue-1: #7bc7ff;
$color-violet-1: rgb(174, 0, 255);
$color-chocolate-light: rgba(0, 16, 50, 0.43);
$color-grey-1: rgba(61,29,29,0.634);
$color-grey-2: rgba(236, 249, 255, 0.505); 
$color-grey-3:rgba(0,0,0,0.5); 
$color-form-text: rgb(255, 253, 109);
$color-green-1: rgba(108, 255, 34, 0.93);
$color-yellow-1:rgba(229, 255, 0, 0.93);