input[type="button"]{
    margin: 1rem;
    padding:4px 1rem;
    height:3rem;
    background-color: $color-grey-2;
    border-radius: 100rem;
    color:$color-blue-1;
    font-weight: 900;
    font-size:1.2rem;
    @include shadow-box;

    &:hover{
        @include shadow-box-scaleup;
    }
}